PORT=5001
MONGO_URI=mongodb+srv://MINXY:eHs17Kqdh1bK5TYD@cluster0.ukyrd4v.mongodb.net/minxy?retryWrites=true&w=majority
JWT_SECRET=Super_Duper_Cool_Fault_789
JWT_EXPIRE=30d
OPENROUTER_API_KEY=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
CORS_ORIGIN=http://localhost:5173
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
AI_RATE_LIMIT_MAX=20
